@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 0 0% 3.9%; /* #0a0a0a */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 0 0% 3.9%; /* #0a0a0a */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 3.9%; /* #0a0a0a */
    --primary: 0 0% 9%; /* #171717 */
    --primary-foreground: 0 0% 98%; /* #fafafa */
    --secondary: 0 0% 96.1%; /* #f5f5f5 */
    --secondary-foreground: 0 0% 9%; /* #171717 */
    --muted: 0 0% 96.1%; /* #f5f5f5 */
    --muted-foreground: 0 0% 45.1%; /* #737373 */
    --accent: 0 0% 96.1%; /* #f5f5f5 */
    --accent-foreground: 0 0% 9%; /* #171717 */
    --destructive: 0 84.2% 60.2%; /* #ef4444 */
    --border: 0 0% 89.8%; /* #e5e5e5 */
    --input: 0 0% 89.8%; /* #e5e5e5 */
    --ring: 0 0% 63%; /* #a1a1a1 */
    --radius: 0.625rem;
    --chart-1: 12 76% 61%; /* #e76e50 */
    --chart-2: 173 58% 39%; /* #2a9d90 */
    --chart-3: 197 37% 24%; /* #274754 */
    --chart-4: 43 74% 66%; /* #e8c468 */
    --chart-5: 27 87% 67%; /* #f4a462 */
  }
 
  .dark:root {
    --background: 0 0% 3.9%; /* #0a0a0a */
    --foreground: 0 0% 98%; /* #fafafa */
    --card: 0 0% 3.9%; /* #0a0a0a */
    --card-foreground: 0 0% 98%; /* #fafafa */
    --popover: 0 0% 3.9%; /* #0a0a0a */
    --popover-foreground: 0 0% 98%; /* #fafafa */
    --primary: 0 0% 98%; /* #fafafa */
    --primary-foreground: 0 0% 9%; /* #171717 */
    --secondary: 0 0% 14.9%; /* #262626 */
    --secondary-foreground: 0 0% 98%; /* #fafafa */
    --muted: 0 0% 14.9%; /* #262626 */
    --muted-foreground: 0 0% 63.9%; /* #a3a3a3 */
    --accent: 0 0% 14.9%; /* #262626 */
    --accent-foreground: 0 0% 98%; /* #fafafa */
    --destructive: 0 70.9% 59.4%; /* #e14e4e */
    --border: 0 0% 14.9%; /* #262626 */
    --input: 0 0% 14.9%; /* #262626 */
    --ring: 300 0% 45%; /* #737373 */
    --chart-1: 220 70% 50%; /* #2662d9 */
    --chart-2: 160 60% 45%; /* #2eb88a */
    --chart-3: 30 80% 55%; /* #e88c30 */
    --chart-4: 280 65% 60%; /* #af57db */
    --chart-5: 340 75% 55%; /* #e23670 */
  }
}